@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vollkorn:ital@1&display=swap");
@import url("https://use.typekit.net/hsx1iuu.css");
/*----- Reset CSS -----*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  background-color: var(--body);
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.8rem;
}

/*----- Style Guide -----*/
/*----- Colors -----*/
:root {
  --heading: #222831;
  --text: #393e46;
  --primary: #02bfc9;
  --body: #f7f7f7;
}

/*----- Typography -----*/
.vc-lg-title {
  font-size: 4.6rem;
  font-family: "acumin-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  /* for landing page h1  */
}
.vc-md-title {
  font-size: 3rem;
  font-family: "acumin-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--primary);

  cursor: pointer;
  /* for docs logo  */
}
.vc-sm-title {
  font-size: 2.2rem;
  margin: 0 1rem;
  /* for nav links  */
}
li {
  list-style: none;
  font-size: 1.6rem;
  padding: 0%;
}
a {
  text-decoration: none;
  color: var(--text);
}

/*----- Flex styles or classes -----*/
.vc-d-flex {
  display: flex;
  align-items: center;
}

/*----- Spacing classes -----*/
.vc-site-container {
  width: 75%;
  margin: auto;
}
/* Navbar styles  */
nav {
  justify-content: space-between;
  padding: 3rem;
  flex-wrap: wrap;
}

.vc-nav-links {
  justify-content: space-evenly;
}
.vc-link {
  transition: all 250ms ease;
}
.vc-link:hover {
  color: #000;
}
/*----- Landing page CTA -----*/
.get-started {
  margin-top: 3rem;
  padding: 1rem 4rem;
  color: var(--text);
  background: var(--primary);
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.get-started:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  color: var(--heading);
}

/*----- scrollbar styles -----*/

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--heading);
}
body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/*----- Main styles -----*/
.vc-landing-page {
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
.vc-landing-page button {
  padding: 1.4rem;
  margin-top: 4rem;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
}
/*----- Whole Docs styles -----*/
.vc-main-container {
  display: flex;
}
.vc-main-container-sidebar {
  min-width: 250px;
  padding: 0rem 3rem;
  margin-top: 6.6rem;
}

.vc-main-container-sidebar li {
  padding: 1rem;
}

.vc-main-container-docs {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.vc-controll-btn {
  justify-content: space-between;
  padding: 1rem 0;
}

.vc-component {
  margin: 2rem 0;
}
.vc-component p {
  padding: 0.5rem 0;
}
.vc-component-ex {
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid gray;
  background: #eee;
  border-radius: 10px;
  padding: 3rem;
  margin: 2.5rem 0rem;
}
