<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card | CrystalUi</title>
    <link rel="stylesheet" href="./card.css" />
    <link rel="stylesheet" href="/button/button.css" />
    <link rel="stylesheet" href="/badge/badge.css" />
  </head>
  <body>
    <a href="#" class="ct-basic-card">
      <img src="https://picsum.photos/400" alt="macbook" class="ct-card-img" />
      <div class="ct-product-stats">
        <h3>Product name</h3>
        <small>Product by Dev</small>
        <p class="ct-product-info">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          blanditiis!
        </p>
        <div class="ct-card-btns">
          <button class="ct-btn ct-gray-bd">ADD TO CART</button>
          <button class="ct-btn ct-blue">BUY NOW</button>
        </div>
      </div>
    </a>

    <br />
    <a href="#" class="ct-basic-card ct-card-badge-div">
      <span class="titled-badge ct-violet ct-card-badge">NEW</span>
      <img src="https://picsum.photos/400" alt="macbook" class="ct-card-img" />
      <div class="ct-product-stats">
        <h3>Product name</h3>
        <small>Product by Dev</small>

        <p class="ct-product-info">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          blanditiis!
        </p>
        <div class="ct-card-btns">
          <button class="ct-btn ct-ebtn ct-addcart">
            <span class="material-icons">shopping_cart</span>
            ADD TO CART
          </button>
          <button class="ct-btn ct-ebtn ct-pay">
            <span class="material-icons">attach_money</span>
            BUY
          </button>
        </div>
      </div>
    </a>
    <br />
    <a href="#" class="ct-basic-card ct-card-badge-div">
      <span class="titled-badge ct-red ct-card-badge"
        >Currently not available</span
      >
      <span class="material-icons ct-card-wish">favorite</span>
      <img src="https://picsum.photos/400" alt="macbook" class="ct-card-img" />
      <div class="ct-product-stats">
        <h3>Product name</h3>
        <small>Product by Dev</small>

        <p class="ct-product-info">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          blanditiis!
        </p>
        <div class="ct-card-btns">
          <button class="ct-btn ct-ebtn ct-addcart">
            <span class="material-icons">shopping_cart</span>
            ADD TO CART
          </button>
          <button class="ct-btn ct-ebtn ct-pay">
            <span class="material-icons">attach_money</span>
            BUY
          </button>
        </div>
      </div>
    </a>
    <br />

    <a href="#" class="ct-basic-card">
      <img src="https://picsum.photos/400" alt="macbook" class="ct-card-img" />
      <div class="ct-product-stats">
        <div class="product-title">
          <h3>Product name</h3>
          <small>Product by Dev</small>
        </div>
        <p class="ct-product-info">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          blanditiis!
        </p>
        <div class="ct-card-btns">
          <button class="ct-btn ct-gray-bd">ADD TO CART</button>
          <button class="ct-btn ct-blue">BUY NOW</button>
        </div>
      </div>
    </a>

    <br />
    <a href="#" class="ct-horizontal-card ct-card-badge-div">
      <span class="material-icons ct-card-close">close</span>
      <img src="https://picsum.photos/200" alt="product" class="ct-card-img" />
      <div class="ct-product-stats">
        <h3>Product name</h3>
        <small>Product by Dev</small>

        <p class="ct-product-info">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
          blanditiis!
        </p>
        <div class="ct-card-btns">
          <button class="ct-btn ct-gray-bd">ADD TO CART</button>
          <button class="ct-btn">
            <span class="material-icons wishlist-btn">favorite</span>
            <span class="material-icons share-btn">share</span>
          </button>
        </div>
      </div>
    </a>
    <br />

    <a href="#" class="ct-basic-card text-card">
      <span class="material-icons ct-card-close">close</span>
      <div class="text-container">
        <h2>Thank you for visiting!</h2>
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quod mollitia explicabo quo iusto </p>
      </div>
        <div class="text-card-btn">
            <span class="material-icons wishlist-btn">favorite</span>
            <span class="material-icons share-btn">share</span>
        </div>
      </div>
    </a>
  </body>
</html>
