<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button | CrystalUi</title>
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <h2>Default buttons</h2>
    <div class="ct-component">
      <button class="ct-btn ct-red">Default</button>
      <button class="ct-btn ct-blue">Default</button>
      <button class="ct-btn ct-green">Default</button>
      <button class="ct-btn ct-gray">Default</button>
    </div>
    <h2>Outerline buttons</h2>
    <div class="ct-component">
      <button class="ct-btn ct-red-bd">Default</button>
      <button class="ct-btn ct-blue-bd">Default</button>
      <button class="ct-btn ct-green-bd">Default</button>
      <button class="ct-btn ct-gray-bd">Default</button>
    </div>

    <h2>Buttons with Icons</h2>
    <div class="ct-component">
      <button class="ct-btn ct-ebtn ct-addcart">
        <span class="material-icons">shopping_cart</span>
        ADD TO CART
      </button>
      <button class="ct-btn ct-ebtn ct-wishlist">
        <span class="material-icons">favorite</span>
        WISHLIST
      </button>

      <button class="ct-btn ct-ebtn ct-pay">
        <span class="material-icons">attach_money</span>
        PAYMENT
      </button>
      <button class="ct-btn ct-ebtn ct-store">
        <span class="material-icons">store</span>
        STORE
      </button>
    </div>
    <h2>Filled buttons</h2>
    <div class="ct-component">
      <button class="ct-btn ct-ebtn ct-remove">
        <span class="material-icons">delete</span>
        REMOVE
      </button>
      <button class="ct-btn ct-ebtn ct-save">
        <span class="material-icons">save</span>
        SAVE
      </button>
    </div>
    <h2>Floating buttons</h2>
    <div class="ct-component">
      <button class="ct-btn">
        <span class="material-icons ct-float">search</span>
      </button>
      <button class="ct-btn">
        <span class="material-icons ct-float">add</span>
      </button>
    </div>
  </body>
</html>
