<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grids | CrystalUi</title>
    <link rel="stylesheet" href="./grid.css" />
  </head>
  <body>
    <h2>Two col grid</h2>
    <main class="ct-grid-2 ct-grid">
      <div class="ct-child-1 ct-child">Col-1</div>
      <div class="ct-child-2 ct-child">Col-2</div>
    </main>
    <br />
    <h2>Three col grid</h2>
    <main class="ct-grid-3 ct-grid">
      <div class="ct-child-1 ct-child">Col-1</div>
      <div class="ct-child-2 ct-child">Col-2</div>
      <div class="ct-child-3 ct-child">Col-3</div>
    </main>
  </body>
</html>
