@import url("/styles/root.css");
.ct-grid {
  display: grid;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--text);
}
.ct-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.ct-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.ct-child {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}
.ct-child-1 {
  background-color: var(--blue-500);
}
.ct-child-2 {
  background-color: var(--green-500);
}
.ct-child-3 {
  background-color: var(--orange-500);
}
