<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | CrystalUi</title>
    <link rel="stylesheet" href="./avatar.css" />
  </head>
  <body>
    <h2>Rounded avatar</h2>
    <div class="ct-component">
      <img class="ct-round ct-sm" src="/avatar/images/pic1.jpg" alt="" />
      <img class="ct-round ct-sm" src="/avatar/images/pic2.jpg" alt="" />
      <img class="ct-round ct-sm" src="/avatar/images/pic3.jpg" alt="" />
      <img class="ct-round ct-sm" src="/avatar/images/pic4.jpg" alt="" />
    </div>
    <h2>Squared avatar</h2>
    <div class="ct-component">
      <img class="ct-sm ct-s-square" src="/avatar/images/pic1.jpg" alt="" />
      <img class="ct-md ct-s-square" src="/avatar/images/pic2.jpg" alt="" />
      <img class="ct-lg ct-s-square" src="/avatar/images/pic3.jpg" alt="" />
      <img class="ct-xlg ct-s-square" src="/avatar/images/pic4.jpg" alt="" />
    </div>
    <h2>Medium square avatar</h2>
    <div class="ct-component">
      <img class="ct-sm ct-m-square" src="/avatar/images/pic1.jpg" alt="" />
      <img class="ct-md ct-m-square" src="/avatar/images/pic2.jpg" alt="" />
      <img class="ct-lg ct-m-square" src="/avatar/images/pic3.jpg" alt="" />
      <img class="ct-xlg ct-m-square" src="/avatar/images/pic4.jpg" alt="" />
    </div>
    <h2>Round in sizes</h2>
    <div class="ct-component">
      <img class="ct-round ct-sm" src="/avatar/images/pic1.jpg" alt="" />
      <img class="ct-round ct-md" src="/avatar/images/pic2.jpg" alt="" />
      <img class="ct-round ct-lg" src="/avatar/images/pic3.jpg" alt="" />
      <img class="ct-round ct-xlg" src="/avatar/images/pic4.jpg" alt="" />
    </div>
    <h2>Fallback Avatar</h2>
    <div class="ct-component">
      <div class="ct-fail-avatar ct-md ct-round">MT</div>

      <img
        src="./svg/fallback.svg"
        alt=""
        class="ct-fail-avatar ct-md ct-round"
      />
      <img
        src="./svg/fallback.svg"
        alt=""
        class="ct-fail-avatar ct-lg ct-s-square"
      />
      <div class="ct-fail-avatar ct-lg ct-m-square">MT</div>
    </div>
    <h2>Sizes</h2>
    <div class="ct-component">
      <div class="ct-fail-avatar ct-sm ct-round"><small>32px</small></div>
      <div class="ct-fail-avatar ct-md ct-s-square">40px</div>
      <div class="ct-fail-avatar ct-lg ct-m-square">64px</div>
      <div class="ct-fail-avatar ct-xlg ct-round">96px</div>
    </div>
  </body>
</html>
