<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar | CrystalUi</title>
    <link rel="stylesheet" href="./nav.css" />
  </head>
  <body>
    <header class="nav-head">
      <nav class="nav-bar">
        <div class="ct-nav-logo">
          <h1>Nav</h1>
        </div>
        <div class="ct-right-nav">
          <div class="nav-searchbar">
            <input type="text" placeholder="Search..." class="ct-input" />
            <button class="ct-btn ct-gray">Search</button>
          </div>
          <div class="ct-nav-user">
            <div class="ct-nav-cart">
              <div class="basic-badge">
                <span class="material-icons"> shopping_cart </span>
                <span class="badge-pop ct-blue">4</span>
              </div>
              Cart
            </div>
            <div class="ct-nav-signin">
              <div class="basic-badge">
                <span class="material-icons"> person </span>
              </div>
              Sign in
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
