<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast | CrystalUi</title>
    <link rel="stylesheet" href="./toast.css" />
  </head>
  <body>
    <h1>Simple toast</h1>
    <div class="ct-component">
      <div class="ct-toast">
        <p>Your draft has been discarded.</p>
      </div>
    </div>
    <h1>Simple toast with Button</h1>
    <div class="ct-component">
      <div class="ct-toast-undo">
        <p>Your draft has been archived.</p>
        <button class="ct-undo">
          <span class="material-icons">unarchive</span>
        </button>
      </div>
    </div>
    <h1>Toast in action</h1>
    <div class="ct-component">
      <button class="ct-btn ct-blue" id="ct-toast-btn">Show Toast</button>
      <div class="ct-toast-undo ct-toast-action">
        <p>Message has been sent to your Ex.</p>
        <a id="ct-undo" class="ct-undo">
          <span class="material-icons">close</span>
        </a>
      </div>
    </div>
    <script src="./toast.js"></script>
  </body>
</html>
