<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="./lists.css" />
  </head>
  <body>
    <div class="ct-component">
      <ul class="ct-ul-list">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ul>
    </div>
    <div class="ct-component">
      <ol class="ct-ol-list">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ol>
    </div>
    <div class="ct-component">
      <ul class="ct-icon-list">
        <li><span class="material-icons">check_circle</span>Item</li>
        <li><span class="material-icons">check_circle</span>Item</li>
        <li><span class="material-icons">check_circle</span>Item</li>
        <li><span class="material-icons">info</span>Item</li>
      </ul>
    </div>

    <div class="ct-component">
      <ul class="ct-stacked-list">
        <li>
          <img
            src="/image/images/fallback.jpg"
            class="ct-avatar ct-sm"
            alt=""
          />
          <div class="ct-list-item">
            <h4>User name</h4>
            <small>Online</small>
          </div>
        </li>
        <li>
          <img
            src="/image/images/fallback.jpg"
            class="ct-avatar ct-sm"
            alt=""
          />
          <div class="ct-list-item">
            <h4>User name</h4>
            <small>Offline</small>
          </div>
        </li>
        <li>
          <img
            src="/image/images/fallback.jpg"
            class="ct-avatar ct-sm"
            alt=""
          />
          <div class="ct-list-item">
            <h4>User name</h4>
            <small>Online</small>
          </div>
        </li>
        <li>
          <img
            src="/image/images/fallback.jpg"
            class="ct-avatar ct-sm"
            alt=""
          />
          <div class="ct-list-item">
            <h4>User name</h4>
            <small>Online</small>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
