<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating | CrystalUi</title>
    <link rel="stylesheet" href="./rating.css" />
  </head>
  <body>
    <h1>Rating for Ecomm</h1>
    <div class="ct-rating">
      <label for="">Rating :</label>
      <a href="" class="ct-star"> <span class="material-icons">grade</span></a>
      <a href="" class="ct-star"> <span class="material-icons">grade</span></a>
      <a href="" class="ct-star"> <span class="material-icons">grade</span></a>
      <a href="" class="ct-star"> <span class="material-icons">grade</span></a>
      <a href="" class="ct-star"> <span class="material-icons">grade</span></a>
    </div>
    <script src="./rating.js"></script>
  </body>
</html>
