<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges | CrystalUi</title>
    <link rel="stylesheet" href="./badge.css" />
  </head>
  <body>
    <h2>Badge on icons</h2>
    <div class="ct-component">
      <br />
      <div class="basic-badge">
        <img src="./svg/mail.svg" alt="mail" />
        <span class="badge-pop">4</span>
      </div>
      <div class="basic-badge">
        <img src="./svg/mail.svg" alt="mail" />
        <span class="badge-pop ct-green">4</span>
      </div>
      <div class="basic-badge">
        <img src="./svg/favorite.svg" alt="favorite" />
        <span class="badge-pop ct-red">4</span>
      </div>
      <div class="basic-badge">
        <img src="./svg/cart.svg" alt="cart" />
        <span class="badge-pop ct-violet">4</span>
      </div>
    </div>
    <h2>Badge with text</h2>
    <div class="ct-component">
      <span class="titled-badge ct-green">ACCEPTED</span>
      <span class="titled-badge ct-red">DECLINED</span>
      <span class="titled-badge ct-violet">NEW</span>
    </div>
    <h2>Badge on button</h2>
    <div class="ct-component">
      <div class="basic-badge">
        <button class="btn-badge">Action</button>
        <span class="badge-pop">4</span>
      </div>
    </div>
    <h2>Large badge on icon</h2>
    <div class="ct-component">
      <div class="large-badge">
        <img src="./svg/mail.svg" alt="mail" />
        <span class="large-pop">4</span>
      </div>
      <div class="large-badge">
        <img src="./svg/favorite.svg" alt="favorite" />
        <span class="large-pop ct-red">4</span>
      </div>
    </div>
    <h2>Badge on avatar</h2>
    <div class="ct-component">
      <div class="basic-badge">
        <img src="/avatar/images/pic2.jpg" alt="" class="ct-lg" />
        <span class="plane-badge"></span>
      </div>
      <div class="basic-badge">
        <img src="/avatar/svg/fallback.svg" alt="" class="ct-lg" />
        <span class="plane-badge"></span>
      </div>
    </div>
    </div>
  </body>
</html>
