<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal | CrystalUi</title>
    <link rel="stylesheet" href="./modal.css" />
  </head>
  <body>
    <div class="">
      <div class="ct-modal">
        <div class="ct-modal-header">
          <h2>Modal title</h2>
          <span class="material-icons">close</span>
        </div>
        <div class="ct-modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="ct-modal-footer">
          <button class="ct-btn ct-blue">Save</button>
          <button class="ct-btn ct-gray">Close</button>
        </div>
      </div>
    </div>
    <br />
    <br />
    <!-- -------------------------------------
        make sure to remove ct-modal-btn 
    -------------------------------------- -->
    <button class="ct-btn ct-blue ct-modal-btn" id="modal-btn">
      Launch Demo Modal
    </button>

    <div class="ct-modal-dialog">
      <div class="ct-modal ct-modal-action" id="ct-modal">
        <div class="ct-modal-header">
          <h2>Modal title</h2>
          <span class="material-icons modal-close">close</span>
        </div>
        <div class="ct-modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="ct-modal-footer">
          <button class="ct-btn ct-blue">Save</button>
          <button class="ct-btn ct-gray">Close</button>
        </div>
      </div>
    </div>

    <script src="./modal.js"></script>
  </body>
</html>
