<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text-utilities</title>
    <link rel="stylesheet" href="./text.css" />
  </head>
  <body>
    <h6>"this" this is a javascript joke</h6>
    <h5>"this" this is a javascript joke</h5>
    <h4>"this" this is a javascript joke</h4>
    <h3>"this" this is a javascript joke</h3>
    <h2>"this" this is a javascript joke</h2>
    <h1>"this" this is a javascript joke</h1>
    <hr />
    <p class="ct-text-gray">"this" this is a javascript joke</p>
    <hr />
    <p class="ct-text-start">"this" this is a javascript joke</p>
    <hr />
    <p class="ct-text-center">"this" this is a javascript joke</p>
    <hr />
    <p class="ct-text-end">"this" this is a javascript joke</p>
  </body>
</html>
