<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerts | CrystalUi</title>
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <h2>Status alerts</h2>
    <div class="ct-component">
      <div>
        <div class="ct-error ct-alert">
          <span class="material-icons"> error </span>
          There was an error processing your request
        </div>
        <div class="ct-update ct-alert">
          <span class="material-icons"> check_circle </span>
          Data uploaded to the server. Fire on!
        </div>
        <div class="ct-report ct-alert">
          <span class="material-icons"> report </span>
          Seems your account is about expire, upgrade now
        </div>
        <div class="ct-info ct-alert">
          <span class="material-icons"> lightbulb </span>
          Mangalyaan is going live on 5 November 2013. Get ready!
        </div>
      </div>
    </div>
    <h2>Outer alerts</h2>
    <div class="ct-component">
      <div>
        <div class="ct-error-bd ct-alert">
          <span class="material-icons"> error </span>
          There was an error processing your request
        </div>
        <div class="ct-update-bd ct-alert">
          <span class="material-icons"> check_circle </span>
          Data uploaded to the server. Fire on!
        </div>
        <div class="ct-report-bd ct-alert">
          <span class="material-icons"> report </span>
          Seems your account is about expire, upgrade now
        </div>
        <div class="ct-info-bd ct-alert">
          <span class="material-icons"> lightbulb </span>
          Mangalyaan is going live on 5 November 2013. Get ready!
        </div>
      </div>
    </div>
    <h2>Alerts with button</h2>
    <div class="ct-component">
      <div>
        <div class="ct-error ct-alert">
          <span class="material-icons"> error </span>
          There was an error processing your request
          <span class="material-icons"> close </span>
        </div>
        <div class="ct-update-bd ct-alert">
          <span class="material-icons">check_circle </span>
          There was an error processing your request
          <span class="material-icons"> close </span>
        </div>
      </div>
    </div>
  </body>
</html>
