.hero {
  color: var(--heading);
  max-width: 80vw;
  min-height: 100vh;
  display: flex;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}

.sidebar {
  position: fixed;
  width: 240px;
  padding: 1rem;
  cursor: pointer;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 90vh;
}
.sidebar .close-btn {
  display: none;
  color: var(--primary);
}

.side-div {
  margin: 1rem 0;
}
.side-div h2 {
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.comp-list {
  list-style: none;
  cursor: pointer;
}
.comp-list > * {
  padding: 0.8rem;
}

.comp-container {
  margin-top: 12rem;
}

.comp-docs {
  position: absolute;
  padding: 2rem;
  left: 250px;
}
.comp-type {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text);
}

.comp-title {
  margin: 1rem 0;
}

.comp-demo {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.comp-code iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 615px) {
  .sidebar {
    right: -250px;
    transition: all 250ms ease;
  }
  .ham-active {
    padding-top: 3rem;
    top: 0;
    right: 0;
    width: 60%;
    background: var(--body);
    z-index: 3;
    text-align: center;
    min-height: 100%;
    /* transition: all 250ms ease; */
  }

  .sidebar .close-btn {
    display: flex;
    justify-content: end;
    font-size: 4rem;
  }

  .comp-docs {
    width: 100%;
    left: 0px;
    padding: 1rem;
  }
  .hero {
    max-width: 100vw;
    font-size: 2rem;
  }
}
