/* @import url("/reset.css"); */

.main {
  color: var(--heading);
  max-width: 80vw;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.main h1 {
  font-size: 4.6rem;
  font-family: "acumin-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.main-logo {
  width: 124px;
  height: 124px;
}
/*----- Landing page CTA -----*/
.get-started {
  margin-top: 3rem;
  padding: 1rem 4rem;
  color: var(--heading);
  background: var(--primary);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease;
  font-family: "acumin-pro", sans-serif;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.get-started:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* Main landing page footer  */
.footer {
  font-size: 2.2rem;
  font-family: "acumin-pro", sans-serif;
  /* font-family: "Lato", sans-serif; */
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  color: var(--text);
}
.footer p a {
  padding: 0;
  margin: 0;
}

.socials a {
  text-decoration: none;
  margin: 1rem;
}
.socials a img {
  border-radius: 50%;
  transition: all 250ms ease;
}
.socials a img:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.footer p {
  padding: 1rem;
}
